{% extends 'back/base.html' %}

    {% block title %}
        <span class="am-icon-home page-header-heading-icon">
    </span>轮播图删除
    {% endblock title %}
    {% block forms %}
        <form class="am-form am-form-horizontal" action="{% url 'imgsdel' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        	<div class="am-form-group">
                {% for i in allimg %}
                    <ol>
                        <label>
                            <input type="radio" name="turnimg" value="{{ i.id }}">
                        </label>
                        <li style="display: inline;">序号{{i.id}}</li>
                        <li style="display: inline;"><img src="/{{i.img}}" alt="" width="500px"></li>
                    </ol>
                {% endfor %}
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-default"  style="width:200px;background: #337ab7">删除
                    </button>
                </div>
            </div>
        </form>
    {% endblock forms %}
