{% extends 'back/base.html' %}
    {% block title %}
        <span class="am-icon-home page-header-heading-icon">
    </span>订单管理
    {% endblock title %}
    {% block forms %}
        <form action="{% url 'orderupdate' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ tinfo.id}}">
            <div class="am-form-group">
                ID:<span>{{ tinfo.id }}</span>
            </div>
            <div class="am-form-group">
               收货人:<span>{{ tinfo.linkman }}</span>
            </div>
            <div class="am-form-group">
               手机:<span>{{ tinfo.phone }}</span>
            </div>
            <div class="am-form-group">
                收货地址:<span>{{ tinfo.address }}</span>
            </div>
            <div class="am-form-group">
               数量:<span>{{ tinfo.nums }}</span>
            </div>
            <div class="am-form-group">
               下单时间:<span>{{ tinfo.addtime }}</span>
            </div>
                状态 <label>
            <select name="state" style="width: 200px;height: 30px">
                <option value="1">已付款</option>
                <option value="2">未付款</option>
                <option value="0">已关闭</option>
            </select>
            </label><br><br>
            <button type="submit" style="width: 60px;">修改
            </button>
    </form>
{% endblock forms %}
