{% extends 'back/base.html' %}

    {% block list_title %}
        <div class="widget-title am-cf">分类列表</div>
    {% endblock list_title %}
    {% block jing %}
        <button class="am-btn am-btn-default am-btn-success">
        <span class="am-icon-plus"></span> <a href="{% url 'typeadd' %}" title="">新增</a></button>
        <button type="button" class="am-btn am-btn-default am-btn-secondary">
        <span class="am-icon-save"></span> 保存</button>
        <button type="button" class="am-btn am-btn-default am-btn-warning">
        <span class="am-icon-archive"></span> 审核</button>
        <button type="button" class="am-btn am-btn-default am-btn-danger">
        <span class="am-icon-trash-o"></span> 删除</button>
    {% endblock jing %}
    {% block forms %}
        <form action="" method="">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                    <label>
                        <input type="text" name="keywords" value="{{ request.GET.keywords }}"
                               class="am-form-field ">
                    </label>
                    <span class="am-input-group-btn">
                      <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search">
                      </button>
                   </span>
                </div>
            </div>
        </form>
    {% endblock forms %}

    {% block pages %}
        <ul class="am-pagination tpl-pagination">
            {% load pagetag %}
            {% PageShow typepage.paginator.num_pages request %}
        </ul>
    {% endblock pages %}


