<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ajax</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" type="text/css" href="">
	<script type="text/javascript" src="/static/news/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<ul>
		<li>ajax</li>
	</ul>

	<script type="text/javascript">
		$.get('test2',function(data){
				
				// console.log('删除成功');
			console.log(data);
				if(data==0){
					// TR.remove();
					console.log('删除成功');
				}else{alert('删除失败');}
			})
			// alert('成功了吗');
			// return false;





	</script>


</body>
</html>