<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>登录认证</title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		.login{
			width: 100%;
			height: 50%;
			text-align: center;
			height: auto;
			font-size: 30px;

		}
	</style>
</head>
<body>
	<div class="login">
		<form action="" method="post">
			<h2 title="请登录后访问">个人简历</h2>
			<label for="users">账&nbsp;&nbsp;&nbsp;&nbsp;号：</label>
			<input type="text" name="user" id=users value="" maxlength="8" placeholder="请输入用户名"><br>
			<label fro="pwds">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
			<input type="password" name="pwd" value="" maxlength="8" placeholder="请输入密码"><br>
			<label for="check"></label>
			认证码： <input type="text" name="checkin" id="check" value="" maxlength="8" placeholder="请输入身份认证码">
		</form>
	</div>
</body>
</html>