{#          <div class="row border-box ">#}
{##}
{#            <h2>教育经历</h2>#}
{#              <div class="education-field">#}
{#                  <p>2013.09 - 2016.7</p>#}
{#                  <label>南京陆军指挥学院</label></br>#}
{#                  <label></label>#}
{##}
{#              </div>#}
{#              <div class="education-field">#}
{#                   <p>2009.9 - 2012.7</p>#}
{#                   <label>河南农业职业学院</label> </br>#}
{#               </div>#}
{##}
{#          </div>#}
{#          <div class="row border-box">#}
{#            <h2>工作经历</h2>#}
{#          </div>#}